.boxlogout{
        position: relative;
        width: 266px;
        height: 134px;
        background: #FFFFFF;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        border-radius: 15px;
    }

.boxdetil{
    position: absolute;
    width: 108px;
    height: 75px;
    left: 153px;
    top: 624px;

    background: #248EA9;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.boxedit {
    position: absolute;
    width: 95px;
    height: 26px;
    left: 306px;
    top: 548px;

    background: #AEE7E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.boxtambah {
    position: absolute;
    width: 156px;
    height: 30px;
    left: 229px;
    top: 513px;

    background: #248EA9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.boxcari{
    position: absolute;
    width: 359px;
    height: 36px;
    left: 27px;
    top: 199px;

    background: #AEE7E8;
    border-radius: 10px;
}

.boxdiag{
    /*diag + tindak*/
    position: absolute;
    width: 238px;
    height: 30px;
    left: 147px;
    top: 302px;

    background: #C4C4C4;
    border-radius: 5px;
}

.boxobat{
    /*nama + signa*/
    position: absolute;
    width: 156px;
    height: 30px;
    left: 229px;
    top: 386px;

    background: #C4C4C4;
    border-radius: 5px;
}

.box_xxx{
    position: absolute;
    width: 90px;
    height: 30px;
    left: 221px;
    top: 203px;

    background: #C4C4C4;
    border-radius: 5px;
}

.buttonlogin{
    position: absolute;
    width: 327px;
    height: 35px;
    left: 44px;
    top: 424px;
    background: #AEE7E8;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
}

.boxsimpan{
    position: absolute;
    width: 216px;
    height: 43px;
    left: 99px;
    top: 522px;

    background: #AEE7E8;
    border-radius: 10px;
}

.boxeditnama{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 120px;
    top: 244px;

    background: #C4C4C4;
    border-radius: 5px;
}

.boxeditusia{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 120px;
    top: 286px;

    background: #C4C4C4;
    border-radius: 5px;
}

.boxeditalamat{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 120px;
    top: 286px;

    background: #C4C4C4;
    border-radius: 5px;
}

